// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
 /*
  * Copyright (c) 2017 Fuzhou Rockchip Electronics Co., Ltd.
  * Copyright (c) 2023 LunaticKochiya <125438787@qq.com>
  */
/dts-v1/;
#include <dt-bindings/pwm/pwm.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>
#include "rk3399.dtsi"
#include "rk3399-opp.dtsi"

/ {
	model = "RK3399 TPM312";
	compatible = "rk3399,tpm312", "rockchip,rk3399";

	aliases {
		ethernet0 = &gmac;
		mmc0 = &sdhci;
	};

	chosen {
		bootargs = "earlycon=uart8250,mmio32,0xff1a0000 swiotlb=1 coherent_pool=1m";
		stdout-path = "serial2:1500000n8";
	};

	fiq_debugger: fiq-debugger {
		compatible = "rockchip,fiq-debugger";
		rockchip,serial-id = <2>;
		rockchip,wake-irq = <0>;
		rockchip,irq-mode-enable = <0>;  /* If enable uart uses irq instead of fiq */
		rockchip,baudrate = <1500000>;  /* Only 115200 and 1500000 */
		pinctrl-names = "default";
		pinctrl-0 = <&uart2c_xfer>;
		interrupts = <GIC_SPI 150 IRQ_TYPE_LEVEL_HIGH 0>;
	};

	clkin_gmac: external-gmac-clock {
		compatible = "fixed-clock";
		clock-frequency = <125000000>;
		clock-output-names = "clkin_gmac";
		#clock-cells = <0>;
	};

	vcc5v0_otg0: vcc5v0-otg0-regulator {
		pinctrl-0 = <&otg0_vbus_drv>;
		gpio = <&gpio1 RK_PA0 GPIO_ACTIVE_HIGH>;
		regulator-name = "vcc5v0_otg0";
		enable-active-high;
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		regulator-always-on;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc5v0_otg1: vcc5v0-otg1-regulator {
		pinctrl-0 = <&otg1_vbus_drv>;
		gpio = <&gpio4 RK_PD5 GPIO_ACTIVE_HIGH>;
		regulator-name = "vcc5v0_otg1";
		enable-active-high;
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		regulator-always-on;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc5v0_host1: vcc5v0-host1-regulator {
		pinctrl-0 = <&host1_vbus_drv>;
		gpio = <&gpio3 RK_PD6 GPIO_ACTIVE_HIGH>;
		regulator-name = "vcc5v0_host1";
		enable-active-high;
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		regulator-always-on;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc5v0_host0: vcc5v0-host0-regulator {
		pinctrl-0 = <&host0_vbus_drv>;
		gpio = <&gpio4 RK_PD2 GPIO_ACTIVE_HIGH>;
		regulator-name = "vcc5v0_host0";
		enable-active-high;
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		regulator-always-on;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc5v0-sys {
		regulator-boot-on;
		pinctrl-0 = <&vcc5sys_gpio>;
		gpio = <&gpio3 RK_PD5 GPIO_ACTIVE_HIGH>;
		regulator-name = "vcc5v0_sys_gpio";
		enable-active-high;
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		regulator-always-on;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc-4g {
		regulator-boot-on;
		pinctrl-0 = <&vcc_4g_gpio>;
		gpio = <&gpio0 RK_PA2 GPIO_ACTIVE_HIGH>;
		regulator-name = "vcc_4g";
		enable-active-high;
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		regulator-always-on;
		vin-supply = <&vcc3v3_sys>;
	};

	vcc-wifi {
		pinctrl-0 = <&wifi_host_wake_l>;
		gpio = <&gpio0 RK_PA3 GPIO_ACTIVE_HIGH>;
		regulator-name = "vcc_wifi";
		enable-active-high;
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		regulator-always-on;
		vin-supply = <&vcc3v3_sys>;
	};

    leds {
		compatible = "gpio-leds";
        pinctrl-names = "default";
		pinctrl-0 = <&leds_pins>;
		power5v-led {
	        gpios = <&gpio1 RK_PC7 GPIO_ACTIVE_HIGH>;
			default-state = "on";
			label = "power_5v_run";
		};
	};

//REPLACE  dc_5v
	vcc12v_dcin: dc-12v {
		compatible = "regulator-fixed";
		regulator-name = "vcc12v_dcin";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <12000000>;
		regulator-max-microvolt = <12000000>;
	};

	vcc_phy: vcc-phy-regulator {
		compatible = "regulator-fixed";
		regulator-name = "vcc_phy";
		regulator-always-on;
		regulator-boot-on;
	};

	vcc5v0_sys: vcc-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc5v0_sys";
		regulator-min-microvolt = <5000000>;
		regulator-max-microvolt = <5000000>;
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vcc12v_dcin>;
	};

	vcc3v3_sys: vcc3v3-sys {
		compatible = "regulator-fixed";
		regulator-name = "vcc3v3_sys";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vcc5v0_sys>;
	};

	vcc1v8_s0: vcc1v8-s0 {
		compatible = "regulator-fixed";
		regulator-name = "vcc1v8_s0";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		regulator-always-on;
		vin-supply = <&vcc3v3_sys>;
	};

	vcc_0v9: vcc-0v9 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_0v9";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <900000>;
		regulator-max-microvolt = <900000>;
		vin-supply = <&vcc1v8_s0>;
	};

	vdd_log: vdd-log {
		compatible = "pwm-regulator";
		pwms = <&pwm3 0 25000 1>;
		rockchip,pwm_voltage = <900000>;
		pwm-supply = <&vcc5v0_sys>;
		regulator-name = "vdd_log";
		regulator-min-microvolt = <800000>;
		regulator-max-microvolt = <1400000>;
		regulator-always-on;
		regulator-boot-on;
	};

	sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "rockchip,es8316-codec";
		simple-audio-card,format = "i2s";
		simple-audio-card,mclk-fs = <256>;

		simple-audio-card,widgets =
			"Microphone", "Mic Jack",
			"Headphone", "Headphones";
		simple-audio-card,routing =
			"MIC1", "Mic Jack",
			"Headphones", "HPOL",
			"Headphones", "HPOR";

		//simple-audio-card,hp-det-gpio = <&gpio4 RK_PD1 GPIO_ACTIVE_LOW>;
		//simple-audio-card,pin-switches = "Speaker";

		simple-audio-card,cpu {
			sound-dai = <&i2s0>;
		};

		simple-audio-card,codec {
			sound-dai = <&es8316>;
		};
	};

    rng: rng@ff8b8000 {
		compatible = "rockchip,cryptov1-rng";
		reg = <0x0 0xff8b8000 0x0 0x1000>;
		clocks = <&cru SCLK_CRYPTO1>, <&cru HCLK_S_CRYPTO1>;
		clock-names = "clk_crypto", "hclk_crypto";
		assigned-clocks = <&cru SCLK_CRYPTO1>, <&cru HCLK_S_CRYPTO1>;
		assigned-clock-rates = <150000000>, <100000000>;
		status = "okay";
	};
};

&cpu_l0 {
	cpu-supply = <&vdd_cpu_l>;
};

&cpu_l1 {
	cpu-supply = <&vdd_cpu_l>;
};

&cpu_l2 {
	cpu-supply = <&vdd_cpu_l>;
};

&cpu_l3 {
	cpu-supply = <&vdd_cpu_l>;
};

&cpu_b0 {
	cpu-supply = <&vdd_cpu_b>;
};

&cpu_b1 {
	cpu-supply = <&vdd_cpu_b>;
};

&emmc_phy {
	status = "okay";
};

&gmac {
	assigned-clocks = <&cru SCLK_RMII_SRC>;
	assigned-clock-parents = <&clkin_gmac>;
	clock_in_out = "input";
	phy-supply = <&vcc_phy>;
	phy-mode = "rgmii";
	pinctrl-names = "default";
	pinctrl-0 = <&rgmii_pins>;
	snps,reset-gpio = <&gpio3 RK_PB7 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 10000 50000>;
	tx_delay = <0x28>;
	rx_delay = <0x11>;
	status = "okay";
};


&i2c0 {
	status = "okay";
	i2c-scl-rising-time-ns = <168>;
	i2c-scl-falling-time-ns = <4>;
	clock-frequency = <400000>;

	vdd_cpu_b: syr827@40 {
		compatible = "silergy,syr827";
		reg = <0x40>;
		regulator-compatible = "fan53555-reg";
		pinctrl-0 = <&vsel1_pin>;
		regulator-name = "vdd_cpu_b";
		regulator-min-microvolt = <712500>;
		regulator-max-microvolt = <1500000>;
		regulator-ramp-delay = <1000>;
		fcs,suspend-voltage-selector = <1>;
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vcc3v3_sys>;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	vdd_gpu: syr828@41 {
		compatible = "silergy,syr828";
		reg = <0x41>;
		regulator-compatible = "fan53555-reg";
		pinctrl-0 = <&vsel2_pin>;
		regulator-name = "vdd_gpu";
		regulator-min-microvolt = <712500>;
		regulator-max-microvolt = <1500000>;
		regulator-ramp-delay = <1000>;
		fcs,suspend-voltage-selector = <1>;
		regulator-always-on;
		regulator-boot-on;
		vin-supply = <&vcc3v3_sys>;
		regulator-initial-mode = <1>;
		regulator-state-mem {
			regulator-off-in-suspend;
		};
	};

	rk808: pmic@1b {
		compatible = "rockchip,rk808";
		reg = <0x1b>;
		interrupt-parent = <&gpio1>;
		interrupts = <21 IRQ_TYPE_LEVEL_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&pmic_int_l &pmic_dvs2>;
		rockchip,system-power-controller;
		wakeup-source;
		#clock-cells = <1>;
		clock-output-names = "xin32k", "rk808-clkout2";

		vcc1-supply = <&vcc5v0_sys>;
		vcc2-supply = <&vcc5v0_sys>;
		vcc3-supply = <&vcc5v0_sys>;
		vcc4-supply = <&vcc5v0_sys>;
		vcc6-supply = <&vcc5v0_sys>;
		vcc7-supply = <&vcc5v0_sys>;
		vcc8-supply = <&vcc3v3_sys>;
		vcc9-supply = <&vcc5v0_sys>;
		vcc10-supply = <&vcc5v0_sys>;
		vcc11-supply = <&vcc5v0_sys>;
		vcc12-supply = <&vcc3v3_sys>;
		vddio-supply = <&vcc_3v0>;

		regulators {
			vdd_center: DCDC_REG1 {
				regulator-name = "vdd_center";
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <1350000>;
				regulator-ramp-delay = <6001>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vdd_cpu_l: DCDC_REG2 {
				regulator-name = "vdd_cpu_l";
				regulator-min-microvolt = <750000>;
				regulator-max-microvolt = <1350000>;
				regulator-ramp-delay = <6001>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_ddr: DCDC_REG3 {
				regulator-name = "vcc_ddr";
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vcc_1v8: DCDC_REG4 {
				regulator-name = "vcc_1v8";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vcc1v8_dvp: LDO_REG1 {
				regulator-name = "vcc1v8_dvp";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
				};
			};

			vcc3v0_tp: LDO_REG2 {
				regulator-name = "vcc3v0_tp";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc1v8_pmu: LDO_REG3 {
				regulator-name = "vcc1v8_pmu";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1800000>;
				};
			};

			vcc_sd: LDO_REG4 {
				regulator-name = "vcc_sd";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <3000000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3000000>;
				};
			};

			vcca3v0_codec: LDO_REG5 {
				regulator-name = "vcca3v0_codec";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_1v5: LDO_REG6 {
				regulator-name = "vcc_1v5";
				regulator-min-microvolt = <1500000>;
				regulator-max-microvolt = <1500000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <1500000>;
				};
			};

			vcca1v8_codec: LDO_REG7 {
				regulator-name = "vcca1v8_codec";
				regulator-min-microvolt = <1800000>;
				regulator-max-microvolt = <1800000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc_3v0: LDO_REG8 {
				regulator-name = "vcc_3v0";
				regulator-min-microvolt = <3000000>;
				regulator-max-microvolt = <3000000>;
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-on-in-suspend;
					regulator-suspend-microvolt = <3000000>;
				};
			};

			vcc3v3_s3: SWITCH_REG1 {
				regulator-name = "vcc3v3_s3";
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};

			vcc3v3_s0: SWITCH_REG2 {
				regulator-name = "vcc3v3_s0";
				regulator-always-on;
				regulator-boot-on;
				regulator-state-mem {
					regulator-off-in-suspend;
				};
			};
		};
        rtc {
            rkrtc: rk808-rtc {
                status="okay";
            };
        };
	};
};

&i2c1 {
	i2c-scl-rising-time-ns = <300>;
	i2c-scl-falling-time-ns = <15>;
	status = "okay";
   
    es8316: codec@10 {
        compatible = "everest,es8316";
        reg = <0x10>;
        clocks = <&cru SCLK_I2S_8CH_OUT>;
        clock-names = "mclk";
        #sound-dai-cells = <0>;
        //pinctrl-names = "default";
		//pinctrl-0 = <&i2s_8ch_mclk>;
        spk-con-gpio = <&gpio4 RK_PD1 GPIO_ACTIVE_HIGH>;
    };
};


&i2c3 {
	i2c-scl-rising-time-ns = <450>;
	i2c-scl-falling-time-ns = <15>;
	status = "okay";
};

&i2c4 {
    i2c-scl-rising-time-ns = <600>;
    i2c-scl-falling-time-ns = <20>;
    status = "okay";
    mpu6500@68 {
        status = "disabled";
        compatible = "invensense,mpu6500";
        reg = <0x68>;
        irq-gpio = <&gpio1 0x16 0x01>;
        mpu-int_config = <0x10>;
        mpu-level_shifter = <0x00>;
        mpu-orientation = <0x00 0x01 0x00 0x01 0x00 0x00 0x00 0x00 0x01>;
        orientation-x = <0x01>;
        orientation-y = <0x00>;
        orientation-z = <0x00>;
        mpu-debug = <0x01>;
    };

};

&i2c6 {
    status = "okay";
};

&i2c8 {
    status = "okay";  
    ilitek@41 {
        compatible = "tchip,ilitek";
        reg = <0x41>;
        vdd-supply = <&vcc3v0_tp>;
        vcc_i2c-supply = <&vcc_3v0>;
        ilitek,irq-gpio = <&gpio1 0x12 0x00>;
        ilitek,reset-gpio = <&gpio1 0x18 0x00>;
        ilitek,vbus = "vcc_i2c";
        ilitek,vdd = "vdd";
        ilitek,name = "ilitek_i2c";
    };
};

&i2s0 {
	rockchip,playback-channels = <2>;
	rockchip,capture-channels = <2>;
	status = "okay";
	pinctrl-0 = <&i2s0_2ch_bus>;
	pinctrl-1 = <&i2s0_2ch_bus_bclk_off>;
	pinctrl-names = "bclk_on","bclk_off";
};

&i2s2{
    status = "okay";
};

&io_domains {
	status = "okay";
	audio-supply = <&vcca1v8_codec>;
	bt656-supply = <&vcc1v8_dvp>;
	gpio1830-supply = <&vcc_3v0>;
	sdmmc-supply = <&vcc_sd>;
};

&pmu_io_domains {
	status = "okay";
	pmu1830-supply = <&vcc_3v0>;
};

&pinctrl {

	gmac {
		rgmii_sleep_pins: rgmii-sleep-pins {
			rockchip,pins =
				<3 RK_PB7 RK_FUNC_GPIO &pcfg_output_low>;
		};
	};

	pmic {
		vcc5sys_gpio: vcc5sys-gpio {
				rockchip,pins = <3 RK_PD5 RK_FUNC_GPIO &pcfg_pull_down>;
			};

		vcc_4g_gpio: vcc-4g-gpio {
				rockchip,pins = <0 RK_PA2 RK_FUNC_GPIO &pcfg_pull_none>;
			};

		pmic_int_l: pmic-int-l {
			rockchip,pins =
				<1 RK_PC6 RK_FUNC_GPIO &pcfg_pull_up>;
		};

		pmic_dvs2: pmic-dvs2 {
			rockchip,pins =
				<1 RK_PA5 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		vsel1_pin: vsel1-pin {
			rockchip,pins =
				<1 RK_PC1 RK_FUNC_GPIO &pcfg_pull_down>;
		};

		vsel2_pin: vsel2-pin {
			rockchip,pins =
				<1 RK_PB6 RK_FUNC_GPIO &pcfg_pull_down>;
		};

        wk2_irq:wk2-irq {
            rockchip,pins = <3 RK_PD4 0 &pcfg_pull_up>;
        };


	};

	u2phy0 {
		otg0_vbus_drv: otg0-vbus-drv {
			rockchip,pins = <1 RK_PA0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		host0_vbus_drv: host0-vbus-drv {
			rockchip,pins = <4 RK_PD2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	u2phy1 {
		otg1_vbus_drv: otg1-vbus-drv {
			rockchip,pins = <4 RK_PD5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		host1_vbus_drv: host1-vbus-drv {
			rockchip,pins = <3 RK_PD6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wifi {
		wifi_host_wake_l: wifi-host-wake-l {
			rockchip,pins = <0 RK_PA3 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	uart1 {
		uart1_xfer: uart1-xfer {
			rockchip,pins =
			    <3 RK_PC3 2 &pcfg_pull_up>,
			    <3 RK_PC4 2 &pcfg_pull_none>;
		};
	};

	leds {
		leds_pins: leds-pins {
			rockchip,pins = <1 RK_PC7 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	i2s0 {
		i2s_8ch_mclk: i2s-8ch-mclk {
			rockchip,pins = <4 RK_PA0 1 &pcfg_pull_none>;
		};
	};

		

};

&pwm0 {
	status = "okay";
};

&pwm1 {
	status = "okay";
};

&pwm2 {
	status = "okay";
};

&pwm3 {
	status = "okay";
};

&saradc {
	status = "okay";
};

&sdmmc {
	clock-frequency = <150000000>;
	max-frequency = <150000000>;
	supports-sd;
	bus-width = <4>;
	cap-mmc-highspeed;
	cap-sd-highspeed;
	disable-wp;
	vqmmc-supply = <&vcc_sd>;
	pinctrl-names = "default";
	pinctrl-0 = <&sdmmc_clk &sdmmc_cmd &sdmmc_cd &sdmmc_bus4>;
	card-detect-delay = <800>;
	status = "okay";
};

&sdhci {
	bus-width = <8>;
	mmc-hs400-1_8v;
	mmc-hs400-enhanced-strobe;
	supports-emmc;
	non-removable;
	keep-power-in-suspend;
	status = "okay";
};

&spi1 {
	status = "okay";
    //max-freq = <48000000>
    spi_wk2xxx@0 {
        status = "okay";
        compatible = "wesine,wk2124spi","wkmic,wk2124spi";
        reg = <0x00>;
        spi-max-frequency = <0x989680>;
        poll_mode = <0x00>;
        type = <0x00>;
        enable_dma = <0x00>;
        irq_gpio = <&gpio3 RK_PD4 4>;
        pinctrl-names = "default";
        pinctrl-0 = <&wk2_irq>;
    };
};

&tcphy0 {
	status = "okay";
};

&tcphy1 {
	status = "okay";
};

&tsadc {
	rockchip,hw-tshut-mode = <1>;
	rockchip,hw-tshut-polarity = <1>;
	status = "okay";
};

&u2phy0 {
	status = "okay";

	u2phy0_otg: otg-port {
		phy-supply = <&vcc5v0_otg0>;
		status = "okay";
	};

	u2phy0_host: host-port {
		phy-supply = <&vcc5v0_host0>;
		status = "okay";
	};
};

&u2phy1 {
	status = "okay";

	u2phy1_otg: otg-port {
		phy-supply = <&vcc5v0_otg1>;
		status = "okay";
	};

	u2phy1_host: host-port {
		phy-supply = <&vcc5v0_host1>;
		status = "okay";
	};
};

&uart0 {
	status = "okay";
};

&uart2 {
	status = "okay";
};

&usb_host0_ehci {
	status = "okay";
};

&usb_host0_ohci {
	status = "okay";
};

&usb_host1_ehci {
	status = "okay";
};

&usb_host1_ohci {
	status = "okay";
};

&usbdrd3_0 {
	status = "okay";
};

&usbdrd_dwc3_0 {
	dr_mode = "host";
	status = "okay";
};

&usbdrd3_1 {
	status = "okay";
};

&usbdrd_dwc3_1 {
	dr_mode = "host";
	status = "okay";
};

&vopl {
    status = "okay";
    rockchip,grf = <&grf>;
};
&vopb {
    status = "okay";
    rockchip,grf = <&grf>;
};
&vopl_mmu {
    status = "okay";
    interrupt-names = "vopl_mmu";
};
&vopb_mmu {
    status = "okay";
    interrupt-names = "vopb_mmu";
};

&hdmi {
    status = "okay";
    pinctrl-names = "default";
    ddc-i2c-bus = <&i2c3>;
    pinctrl-0 = <&hdmi_cec>;
};
&hdmi_sound {
    status = "okay";
};
&hdmi_in_vopb{
    status = "okay";
};
&hdmi_in_vopl{
    status="disabled";
};
&gpu{
	mali-supply = <&vdd_gpu>;
    ower-off-delay-ms = <200>;
    status = "okay";
};
&saradc {
	status = "okay";
	vref-supply = <&vcc_1v8>;
};

&rga {
	compatible = "rockchip,rk3399-rga","rockchip,rga2";
	status = "okay";
	dev_mode = <1>;
	dma-coherent;
};
&gpio1 {
	usb2_en {
		gpio-hog;
		gpios = <3 0>;
		output-high;
	};
	usb6_en {
		gpio-hog;
		gpios = <2 0>;
		output-high;
	};
	gprs_rst {
		gpio-hog;
		gpios = <4 1>;
		output-low;
	};
};

&gpio2 {
	wk2_rst {
		gpio-hog;
		gpios = <0x12 0x01>;
		output-low;
	};
};

&gpio4 {
	usb1_en {
		gpio-hog;
		gpios = <0x1c 0x00>;
		output-high;
	};
	usb3_en {
		gpio-hog;
		gpios = <0x1e 0x00>;
		output-high;
	};
	usb4_en {
		gpio-hog;
		gpios = <0x15 0x00>;
		output-high;
	};
	usb5_en {
		gpio-hog;
		gpios = <0x18 0x00>;
		output-high;
	};
};
